{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="border-bottom">댓글등록하기</h5>
    <form method="post" class="post-form">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="content">댓글내용</label>
            <textarea class="form-control" name="content" id="content" rows="3">{{ form.content.value|default_if_none:''}}</textarea>
        </div>
        <button type="submit" class="btn">저장하기</button>
    </form>
</div>
{% endblock %}