{% extends 'base.html' %}
{% load pybo_filter %}

{% block content %}
    <!-- -------------------------------------- [edit] ------------------------------------------ -->
<div> 
    <h1>{{ question.subject }}</h1>
    <div>{{ question.content|mark }}</div>
    <td>{{ question.author.username }}</td> 
    <td>{{ question.create_date }}</td>
</div>

{% if request.user == question.author %}
    <div class="my-3">
        <a href="{% url 'pybo:question_modify' question.id  %}"
           class="btn btn-sm btn-outline-secondary">수정</a>
        <a href="#" class="delete"
           data-uri="{% url 'pybo:question_delete' question.id  %}">삭제</a>
    </div>
{% endif %}

<!-- 질문 댓글 -->
{% if question.comment_set.count > 0 %}
<div>
{% for comment in question.comment_set.all %}
    <div class = "comment">
        <span style="white-space: pre-line;">{{ comment.content }}</span>
        <span>
            - {{ comment.author}}, {{ comment.create_date}}
            {% if comment.modify_date %}
            (수정:{{ comment.modify_date }})
            {% endif %}
        </span>
        {% if request.user == comment.author %}
        <a href="{% url 'pybo:comment_modify_question' comment.id %}" class="small">수정</a>
        <a href="#" class="small delete"
            data-uri="{% url 'pybo:comment_delete_question' comment.id %}">삭제</a>
        {% endif %}
    </div>
{% endfor %}
</div>
{% endif %}
    <div>
        <a href="{% url 'pybo:comment_create_question' question.id %}"
            class="small"><small>댓글 추가 ..</small></a>
    </div>
<!-- 질문 댓글 끝-->

    <h5>{{question.answer_set.count}}개의 답변이 있습니다.</h5>
    <div>
        <ul>
            {% for answer in question.answer_set.all %}
            <div> 
                <div>{{ answer.content|mark }}</div>
                {% if answer.modify_date %}
                <td>{{ answer.modify_date }}</td>
                {% endif %}
                <td>{{ answer.create_date }}</td>

            </div>
                {% if request.user == answer.author %}
                <div>
                    <a href="{% url 'pybo:answer_modify' answer.id %}"
                       class="btn">수정</a>
                    <a href="#" class="delete"
                       data-uri="{% url 'pybo:answer_delete' answer.id %}">삭제</a>
                </div>
                {% endif %}
    <!-- 답글 댓글 -->
                {% if answer.comment_set.count > 0 %}
                    <div>
                    {% for comment in answer.comment_set.all %}
                        <div class = "comment">
                            <span style="white-space: pre-line;">{{ comment.content }}</span>
                            <span>
                                - {{ comment.author}}, {{ comment.create_date}}
                                {% if comment.modify_date %}
                                (수정:{{ comment.modify_date }})
                                {% endif %}
                            </span>
                            {% if request.user == comment.author %}
                            <a href="{% url 'pybo:comment_modify_answer' comment.id %}" class="small">수정</a>
                            <a href="#" class="small delete"
                                data-uri="{% url 'pybo:comment_delete_answer' comment.id %}">삭제</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
                    <div>
                        <a href="{% url 'pybo:comment_create_answer' answer.id %}"
                            class="small"><small>댓글 추가 ..</small></a>
                    </div>
    <!-- 답글 댓글 끝-->
            {% endfor %}
        </ul>
    </div>
    
<!---------------------------------------- [edit] ------------------------------------------ -->

    <form action="{% url 'pybo:answer_create' question.id %}" method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="content" rows="15"></textarea> 
        <input type="submit" value="답변등록">
    </form>

{% endblock %}

{% block script %}
    <script type='text/javascript'>
        $(document).ready(function(){
            $(".delete").on('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = $(this).data('uri');
                }
            });
        });
    </script>
{% endblock %}